*{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
header{
    margin: 4%;
}
header > h1,.shadow{
    text-shadow: 0px 20px 8px black;
}
.word-color{
    color: rgb(8, 159, 179);
    font-weight: 800;
    /* text-shadow: 5px 10px 5px black; */
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    text-align: center;

}
label{
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
}
fieldset{
    border: 2px dotted blue;
    border-radius: 20px;
    box-shadow: 10px 10px 10px slateblue;
    margin:5% 20%;
}

.first-section{
    margin: 5% auto;
    background-color:powderblue;
    width: 600px;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 20px 20px 20px rgb(45, 45, 187);
}

textarea{
    align-items: center;
    padding-top: 20px;
    background-color: powderblue;
    border: 1px solid rgba(0, 0, 0, 0.425);
    width: 100%;
}
input{
    border: 5px solid rgb(136, 136, 238);
    border-radius: 8px;
    height: 25px;
}

input.btn{
    background-color: black;
    color: white;
    width: 180px;
    height: 50px;
    /* display: block; */
    /* font-size: large; */
    /* padding: 2%; */
    text-align: center;
    cursor: pointer;
}
input.btn:hover{
    color: black;
    background-color: rgb(136, 136, 238);
    border: 5px solid black;
    border-radius: 10px;
    font-weight: 700;
}
table{
    /* border-collapse: collapse; */
    margin: 20px auto;
}
th{
    background-color: rgb(136, 136, 238);
}
td{
    background-color: powderblue;
}
th,td,table{
    padding: 20px 80px;
    /* border: 3px solid black; */
    border-radius: 20px;
    font-weight: 700;

}
.second-section{
    text-align: center;
    align-items: center;
    /* margin-left: 2%; */
    display: flex;
}
caption{
    padding-bottom: 2%;
}